#image-menu-container {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  background-color: #213;
}

.image-menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(220px, 1fr);
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  gap: 16px;
}

.grid-photo {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 6px
}